node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
playwright.env.json
.env
playwright/.auth
src/test-data/credentials.json
tests/test.spec.ts
screenshots
/allure-results/
/allure-report/